/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Work Sans', sans-serif;
  color: #707070;
}
h1 {
  font-size: 6rem;
  font-family: 'Baloo Bhai', cursive;
  color: #89B774;
}
@media (max-width: 500px) {
  h1 {
    font-size: 3.3rem;
  }
}
h2 {
  font-size: 3rem;
}
@media (max-width: 500px) {
  h2 {
    font-size: 3rem;
  }
}
h3 {
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  h3 {
    font-size: 2.1rem;
  }
}
h4 {
  font-size: 2rem;
}
@media (max-width: 500px) {
  h4 {
    font-size: 1.8rem;
  }
}
p {
  font-size: 1.8rem;
  font-weight: lighter;
  color: #3d3d3d;
  line-height: 3rem;
}
@media (max-width: 500px) {
  p {
    font-size: 1.8rem;
  }
}
a {
  font-size: 1.7rem;
  color: #ADADAD;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
}
@media (max-width: 500px) {
  .container {
    width: 90%;
    margin: auto;
  }
}
hr {
  width: 80%;
  height: 1px;
  background: #e0e0e0;
  border: none;
  margin: 5rem 0;
}
.landing {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: 0;
  align-items: 0;
  background: url("../assets/bg/landing-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  .landing {
    display: flex;
    flex-direction: column;
    justify-content: 0;
    align-items: 0;
    height: 70vh;
  }
}
.landing div header {
  display: flex;
  flex-direction: row;
  justify-content: 0;
  align-items: center;
  margin: 2rem 0;
}
@media (max-width: 500px) {
  .landing div header {
    flex-direction: row-reverse;
  }
}
.landing div header img {
  width: 6rem;
  height: 6rem;
  margin-left: 2rem;
}
.landing div header .hamburger {
  display: none;
}
@media (max-width: 500px) {
  .landing div header .hamburger {
    display: block;
    height: 4rem;
    width: 4rem;
    margin-right: auto;
  }
  .landing div header .hamburger:hover {
    cursor: pointer;
  }
}
.landing div header nav {
  padding-left: 5rem;
}
@media (max-width: 500px) {
  .landing div header nav {
    background: #dfebd9;
    padding: 1rem;
  }
}
.landing div header nav a {
  color: #808080;
  text-decoration: none;
  padding-left: 1.5rem;
}
@media (max-width: 500px) {
  .landing div header nav a {
    display: block;
    text-align: center;
    padding-left: 0;
    margin-top: 1rem;
  }
}
.landing div main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.landing div main h2 {
  text-align: center;
  vertical-align: middle;
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .landing div main h2 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .landing div main p {
    font-size: 1.5rem;
    text-align: center;
  }
}
.landing div main button {
  width: 15rem;
  height: 5rem;
  background: #FF9900;
  color: #f8f8f8;
  border-radius: 0.3em;
  border: 1px solid #FF9900;
  padding: 0.3em 0.5em;
  font-size: 1.8rem;
  margin-top: 5rem;
}
.landing div main button:hover {
  cursor: pointer;
  background: #f09000;
  color: #f8f8f8;
  transition: 0.2s;
}
.landing .landing-image {
  width: 33%;
}
@media (max-width: 500px) {
  .landing .landing-image {
    display: none;
  }
}
.about {
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  background: url('../assets/bg/about-bg.svg');
  background-size: cover;
}
@media (max-width: 500px) {
  .about {
    margin: 2rem 0;
  }
}
.about .info {
  width: 50%;
  text-align: center;
  margin-bottom: 8rem;
}
@media (max-width: 500px) {
  .about .info {
    width: 90%;
  }
}
.about .info h2 {
  color: #89B774;
  margin-bottom: 3rem;
}
.about .about-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: 0;
}
@media (max-width: 500px) {
  .about .about-cards {
    display: flex;
    flex-direction: column;
    justify-content: 0;
    align-items: center;
  }
}
.about .about-cards .card {
  width: 30rem;
  height: 32rem;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 2.2rem;
  box-shadow: 0 0 0.5rem 0.5rem #ADADAD;
}
.about .about-cards .card h3 {
  margin-bottom: 3rem;
  font-size: 1.8rem;
}
.about .about-cards .card img {
  width: 5rem;
  height: 5rem;
  text-align: left;
  margin-bottom: 3rem;
}
.about .about-cards .card:nth-child(even) {
  background: #89B774;
}
.about .about-cards .card:nth-child(even) p,
.about .about-cards .card:nth-child(even) h3 {
  color: #f8f8f8;
}
.problem-statement {
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
}
@media (max-width: 500px) {
  .problem-statement {
    margin: 2rem 0;
  }
}
.problem-statement .problem-info {
  width: 50%;
  text-align: center;
  margin-bottom: 8rem;
}
@media (max-width: 500px) {
  .problem-statement .problem-info {
    width: 90%;
    margin-bottom: 4rem;
  }
}
.problem-statement .problem-info h2 {
  color: #3d3d3d;
  margin-bottom: 3rem;
}
.problem-statement .problem-stat {
  display: flex;
  flex-direction: row;
  justify-content: 0;
  align-items: center;
  width: 80%;
}
@media (max-width: 500px) {
  .problem-statement .problem-stat {
    display: flex;
    flex-direction: column;
    justify-content: 0;
    align-items: 0;
    width: 90%;
  }
}
.problem-statement .problem-stat h2 {
  padding: 5rem;
  text-align: center;
  color: #FF9900;
}
@media (max-width: 500px) {
  .problem-statement .problem-stat img {
    width: 100%;
  }
}
.action-plan {
  width: 70%;
  background: url("../assets/bg/actionPlan-bg.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  border-radius: 1.5rem;
}
@media (max-width: 500px) {
  .action-plan {
    width: 100%;
    padding: 5rem 0;
  }
}
.action-plan .action-detail {
  width: 70%;
  text-align: center;
}
@media (max-width: 500px) {
  .action-plan .action-detail {
    width: 90%;
  }
}
.action-plan .action-detail p,
.action-plan .action-detail h2 {
  color: #f8f8f8;
  margin-bottom: 3rem;
}
.action-plan .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 70%;
}
@media (max-width: 500px) {
  .action-plan .details {
    display: flex;
    flex-direction: column;
    justify-content: 0;
    align-items: 0;
    width: 90%;
  }
}
.action-plan .details .plan {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  margin: 2rem;
}
.action-plan .details .plan h4 {
  background: #f8f8f8;
  color: #89B774;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2rem;
}
.action-plan .details .plan p {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #f8f8f8;
}
.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20rem 0 15rem 0;
}
@media (max-width: 500px) {
  .testimonial {
    margin: 10rem 0 7rem 0;
  }
}
.testimonial .shout-out {
  width: 50%;
}
@media (max-width: 500px) {
  .testimonial .shout-out {
    width: 90%;
  }
}
.testimonial .shout-out img {
  width: 10rem;
  height: 10rem;
  z-index: -1;
  position: relative;
  left: 0;
  opacity: 0.5;
}
.testimonial .shout-out p {
  position: relative;
  top: -7rem;
  left: 1rem;
  font-size: 4rem;
  line-height: 5rem;
}
@media (max-width: 500px) {
  .testimonial .shout-out p {
    font-size: 3rem;
  }
}
.testimonial .testimonies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .testimonial .testimonies {
    display: flex;
    flex-direction: column;
    justify-content: 0;
    align-items: 0;
    width: 90%;
  }
}
.testimonial .testimonies h4 {
  background: #FF9900;
  color: #f8f8f8;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0.2rem 0.3rem 0.3rem #ffe0b3;
}
.testimonial .testimonies h4:hover {
  cursor: pointer;
  background: #f09000;
  color: #f8f8f8;
  transition: 0.2s;
}
.testimonial .testimonies .testimony {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: 0;
  width: 40rem;
  height: 20rem;
  padding: 3rem;
  box-shadow: 0 0 0.3rem 0.3rem #ededed;
  border-radius: 2rem;
  margin: 2rem;
}
@media (max-width: 500px) {
  .testimonial .testimonies .testimony {
    width: 100%;
    height: 23rem;
    padding: 2rem;
    margin: 2rem 0;
  }
}
.testimonial .testimonies .testimony .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.testimonial .testimonies .testimony .top img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 0 0 0.2rem 0.2rem #ADADAD;
}
.testimonial .testimonies .testimony .top .name,
.testimonial .testimonies .testimony .top .title {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}
.testimonial .testimonies .testimony .top .name {
  color: #89B774;
}
.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 5rem;
  box-shadow: 0.2rem 0.5rem 0.5rem #ededed;
  padding: 5rem;
}
@media (max-width: 500px) {
  .call-to-action {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.call-to-action .green {
  color: #89B774;
}
.call-to-action .orange {
  color: #FF9900;
}
.call-to-action .tan {
  color: #B88C04;
}
.call-to-action p {
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
  padding: 2rem;
  margin-bottom: 4rem;
}
@media (max-width: 500px) {
  .call-to-action p {
    margin-bottom: 2.5rem;
  }
}
.call-to-action button {
  width: 20rem;
  height: 4rem;
  background: #FF9900;
  color: #f8f8f8;
  border-radius: 0.3em;
  border: 1px solid #FF9900;
  padding: 0.3em 0.5em;
  background: #89B774;
  border: 1px solid #89B774;
  font-size: 1.5rem;
  box-shadow: 0.2rem 0.5rem 0.5rem #d0e3c8;
}
.call-to-action button:hover {
  cursor: pointer;
  background: #7bae63;
  transition: 0.2s;
}
footer {
  background: url('../assets/bg/footer-bg.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  width: 100%;
  margin-top: 10rem;
}
footer .contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: 0;
  width: 80%;
}
@media (max-width: 500px) {
  footer .contact {
    display: flex;
    flex-direction: column-reverse;
    justify-content: 0;
    align-items: 0;
  }
}
footer .contact ul li {
  margin-bottom: 4rem;
  font-size: 2rem;
}
footer .contact ul li:hover {
  cursor: pointer;
}
footer .contact .sign-in {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  width: 25rem;
  height: 25rem;
  background: #89B774;
  padding: 3rem;
  border-radius: 0.5rem;
}
@media (max-width: 500px) {
  footer .contact .sign-in {
    margin-bottom: 5rem;
    width: 100%;
  }
}
footer .contact .sign-in p {
  color: #f8f8f8;
}
footer .contact .sign-in button {
  width: 13rem;
  height: 4rem;
  background: #FF9900;
  color: #f8f8f8;
  border-radius: 0.3em;
  border: 1px solid #FF9900;
  padding: 0.3em 0.5em;
  font-size: 1.5rem;
  background: #f8f8f8;
  color: #89B774;
  border: 1px solid #f8f8f8;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  footer .contact .sign-in button {
    margin-top: 4rem;
  }
}
footer .copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 3rem;
}
@media (max-width: 500px) {
  footer .copyright {
    display: flex;
    flex-direction: column;
    justify-content: 0;
    align-items: 0;
    width: 100%;
  }
}
footer .copyright img {
  height: 6rem;
  width: 6rem;
}
@media (max-width: 500px) {
  footer .copyright p {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
footer .copyright .green {
  color: #89B774;
}
footer .copyright .orange {
  color: #FF9900;
}
footer .copyright .tan {
  color: #B88C04;
}
