/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Work Sans', sans-serif;
  color: #707070;
}
h1 {
  font-size: 6rem;
  font-family: 'Baloo Bhai', cursive;
  color: #89B774;
}
@media (max-width: 500px) {
  h1 {
    font-size: 3.3rem;
  }
}
h2 {
  font-size: 3rem;
}
@media (max-width: 500px) {
  h2 {
    font-size: 3rem;
  }
}
h3 {
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  h3 {
    font-size: 2.1rem;
  }
}
h4 {
  font-size: 2rem;
}
@media (max-width: 500px) {
  h4 {
    font-size: 1.8rem;
  }
}
p {
  font-size: 1.8rem;
  font-weight: lighter;
  color: #3d3d3d;
  line-height: 3rem;
}
@media (max-width: 500px) {
  p {
    font-size: 1.4rem;
  }
}
a {
  font-size: 1.7rem;
  color: #ADADAD;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
}
.landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: 0;
  align-items: 0;
  background: url("../assets/bg/landing-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.landing div header {
  display: flex;
  flex-direction: row;
  justify-content: 0;
  align-items: center;
  margin: 2rem 0;
}
.landing div header img {
  width: 6rem;
  height: 6rem;
  margin-left: 2rem;
}
.landing div header nav {
  padding-left: 5rem;
}
.landing div header nav a {
  color: #808080;
  text-decoration: none;
  padding-left: 2rem;
}
.landing div main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.landing div main h2 {
  text-align: center;
  vertical-align: middle;
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}
.landing div main button {
  width: 15rem;
  height: 5rem;
  background: #FF9900;
  color: #f8f8f8;
  border-radius: 0.3em;
  border: 1px solid #FF9900;
  padding: 0.3em 0.5em;
  font-size: 2rem;
  margin-top: 5rem;
}
.landing img {
  width: 37%;
}
.about {
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  background: url('../assets/bg/about-bg.svg');
  background-size: cover;
}
.about .info {
  width: 50%;
  text-align: center;
  margin-bottom: 8rem;
}
.about .info h2 {
  color: #89B774;
  margin-bottom: 3rem;
}
.about .about-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: 0;
}
.about .about-cards .card {
  width: 30rem;
  height: 35rem;
  border-radius: 0.5rem;
  margin: 2rem;
}
.about .about-cards .card:nth-child(even) {
  background: #89B774;
}
.about .about-cards .card:nth-child(even) p,
.about .about-cards .card:nth-child(even) h3 {
  color: #f8f8f8;
}
