.about {
  margin: 6rem 0;
  .flex(column, 0, center);
  background: url("../assets/bg/about-bg.svg");
  background-size: cover;

  @media @tablet {
    margin-top: 5rem;
  }

  @media @mobile {
    margin: 2rem 0;
  }

  .info {
    width: 50%;
    text-align: center;
    margin-bottom: 8rem;

    @media @tablet {
      width: 80%;
    }

    @media @mobile {
      width: 90%;
    }

    h2 {
      color: @green;
      margin-bottom: 3rem;
    }
  }

  .about-cards {
    .flex(row, space-around, 0);
    flex-wrap: wrap;

    @media @mobile {
      .flex(column, 0, center);
    }
  }
}
