.call-to-action {
  .flex(column, center, center);
  width: 80%;
  margin-bottom: 5rem;
  box-shadow: 0.2rem 0.5rem 0.5rem lighten(@grey, 25%);
  padding: 5rem;

  @media @tablet {
    padding: 4rem 0;
  }

  @media @mobile {
    width: 100%;
    margin-bottom: 2rem;
  }

  p {
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;
    padding: 2rem;
    margin-bottom: 4rem;

    @media @mobile {
      margin-bottom: 2.5rem;
    }
  }

  button {
    .button(20rem, 4rem);
    background: @green;
    border: 1px solid @green;
    font-size: 1.5rem;
    box-shadow: 0.2rem 0.5rem 0.5rem lighten(@green, 25%);

    &:hover {
      .hover(@green);
    }

    &:active {
      .active(@green);
    }
  }
}
