footer {
  background: url("../assets/bg/footer-bg.svg");
  background-size: cover;
  .flex(column, 0, center);
  width: 100%;
  margin-top: 10rem;

  .contact {
    .flex(row, space-between, 0);
    width: 80%;

    @media @mobile {
      .flex(column-reverse, 0, 0);
    }

    ul {
      li {
        margin-bottom: 4rem;
        font-size: 2rem;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .sign-in {
      .flex(column, 0, center);
      width: 25rem;
      height: 25rem;
      background: @green;
      padding: 3rem;
      border-radius: 0.5rem;

      @media @mobile {
        margin-bottom: 5rem;
        width: 100%;
      }

      p {
        color: @buttonColor;
      }

      button {
        .button(13rem, 4rem);
        font-size: 1.5rem;
        background: @buttonColor;
        color: @green;
        border: 1px solid @buttonColor;
        margin-top: 2rem;

        @media @mobile {
          margin-top: 4rem;
        }
      }
    }
  }

  .copyright {
    .flex(row, space-between, center);
    width: 90%;
    margin-bottom: 3rem;

    @media @mobile {
      .flex(column, 0, 0);
      width: 100%;
    }

    img {
      height: 6rem;
      width: 6rem;
    }

    p {
      @media @mobile {
        font-size: 1.5rem;
        margin-top: 2rem;
      }
    }

    .green {
      color: @green;
    }

    .orange {
      color: @orange;
    }

    .tan {
      color: @tan;
    }
  }
}
