.landing {
  width: 100vw;
  height: 80vh;
  .flex(row, 0, 0);
  background: url("../assets/bg/landing-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;

  @media @tablet {
    height: 70vh;
  }

  @media @mobile {
    .flex(column, 0, 0);
    height: 70vh;
  }

  div {
    header {
      .flex(row, 0, center);
      padding: 0.5rem 0;

      @media @mobile {
        .flex(row-reverse, space-between, center);
        position: fixed;
        width: 100%;
        background: @grey;
      }

      img {
        width: 6rem;
        height: 6rem;
        margin: 0 1rem;

        @media @mobile {
          width: 4rem;
        height: 4rem;
        }
      }

      nav {
        padding-left: 5rem;
        .flex(row, 0, 0);

        @media @tablet {
          margin-left: auto;  
        }

        @media @mobile {
          background: @green;
          // position: fixed;
          left: 0rem;
          top: 5rem;
          padding: 1rem;
          // display: none;
          transition: 1s;
        }

        a {
          color: @darkGrey;
          text-decoration: none;
          padding-left: 3rem;

          @media @tablet {
            padding-right: 1.5rem;
          }

          @media @mobile {
            display: block;
            text-align: center;
            padding: 1rem 0;
            margin-top: 1rem;
            color: @buttonColor;
          }
        }
      }

      .show {
        left: 0;
      }
    }

    main {
      .flex(column, center, center);
      height: 80%;

      @media @mobile {
        padding-top: 12rem;
      }

      h2 {
        text-align: center;
        vertical-align: middle;
        font-size: 4rem;
        line-height: 5rem;
        margin-bottom: 2rem;

        @media @tablet {
          margin-top: 7rem;
        }

        @media @mobile {
          font-size: 3rem;
        }
      }

      p {
        text-align: center;

        @media @tablet {
          margin-top: 1rem;
        }

        @media @mobile {
          font-size: 1.5rem;
        }
      }

      button {
        .button(15rem, 5rem);
        font-size: 1.8rem;
        margin-top: 5rem;

        @media @tablet {
          margin-top: 10rem;
        }

        &:hover {
          cursor: pointer;
          background: darken(@orange, 3%);
          color: @buttonColor;
          transition: 0.2s;
        }
      }
    }
  }

  .landing-image {
    max-width: 450px;

    @media @tablet {
      display: none;
    }

    @media @mobile {
      display: none;
    }
  }
}
