.problem-statement {
  margin: 6rem 0;
  .flex(column, 0, center);

  @media @mobile {
    margin: 2rem 0;
  }

  .problem-info {
    width: 50%;
    text-align: center;
    margin-bottom: 8rem;

    @media @tablet {
      width: 80%;
    }

    @media @mobile {
      width: 90%;
      margin-bottom: 4rem;
    }

    h2 {
      color: @dark;
      margin-bottom: 3rem;
    }
  }
}
