.testimonial {
  .flex(column, center, center);
  width: 100%;
  margin: 20rem 0 15rem 0;

  @media @tablet {
    margin: 10rem 0 4rem 0;
  }

  @media @mobile {
    margin: 10rem 0 7rem 0;
  }

  .shout-out {
    width: 50%;

    @media @mobile {
      width: 90%;
    }

    img {
      width: 10rem;
      height: 10rem;
      z-index: -1;
      position: relative;
      left: 0;
      opacity: 0.5;
    }

    p {
      position: relative;
      top: -7rem;
      left: 1rem;
      font-size: 4rem;
      line-height: 5rem;

      @media @mobile {
        font-size: 3rem;
      }
    }
  }

  
}
