//colors
@orange: #FF9900;
@green: #89B774;
@tan: #B88C04;
@grey: #ADADAD;
@darkGrey: #808080;
@darkerGrey: #707070;
@buttonColor: #f8f8f8;

//fonts
@fontFamily: ~"'Work Sans', sans-serif";
@fontHeader: ~"'Baloo Bhai', cursive";

//breakpoints
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";
